@{
    Layout = "~/Views/Shared/_LayoutNoCache.cshtml";
    ViewBag.Title = "Estadisticas";
}

<div class="row">
    <div class="col-md-12">
        <div id="chart"></div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/App/Central/PunteoPorColegio.js"></script>
}
